<!-- <div class="flex flex-col gap-2 w-[13rem] h-[11rem] ml-4 mt-6 border-b border-grey">
  <app-button title="Home"  class="bg-transparent w-full h-10 px-4 py-2 rounded-[7px] text-white hover:bg-grey focus:outline-none font-bold flex gap-4">
    <span><img src="assets/home.png" alt="Home" class="w-6 h-6"></span>
  </app-button>
  <app-button title="Explore"  class="bg-transparent w-full h-10 px-4 py-2 rounded-[7px] text-white hover:bg-grey focus:outline-none font-bold flex gap-4">
    <span><img src="assets/explore.png" alt="Explore" class="w-6 h-6"></span>
  </app-button>
  <app-button title="Library"  class="bg-transparent w-full h-10 px-4 py-2 rounded-[7px] text-white hover:bg-grey focus:outline-none font-bold flex gap-4">
    <span><img src="assets/library.png" alt="Library" class="w-6 h-6"></span>
  </app-button>
</div> -->

  <!-- <div class="flex flex-col gap-2 w-[13rem]  ml-2 mt-6 ">
    <button class="bg-grey w-[13rem] h-10 ml-2 rounded-full text-white hover:bg-gray-400">
        <span class="text-lg">+</span> New playlist
    </button>
 <div class="flex flex-col gap-0 w-[13rem]   ">
<button class="group bg-transparent w-[14rem] h-[3rem] rounded-[7px] text-white hover:bg-grey focus:outline-none flex flex-col justify-center mt-4 relative">
    <span class="text-sm font-bold ml-4">Liked music</span>
    <span class="text-xs pt-1 ml-4">Auto playlist</span>
    <button class="w-5 h-5 rounded-full bg-white flex items-center justify-center absolute right-3 top-1/2 transform -translate-y-1/2 hidden group-hover:flex">
      <i class="fa-solid fa-play fa-2xs" style="color: black;"></i>
    </button>
  </button>
  
  <button class="group bg-transparent w-[14rem] h-[3rem] rounded-[7px] text-white hover:bg-grey focus:outline-none flex flex-col justify-center mt-4 relative">
    <span class="text-sm font-bold ml-4">fav</span>
    <span class="text-xs pt-1 ml-4">Fayiz mt</span>
    <button class="w-5 h-5 rounded-full bg-white flex items-center justify-center absolute right-3 top-1/2 transform -translate-y-1/2 hidden group-hover:flex">
      <i class="fa-solid fa-play fa-2xs" style="color: black;"></i>
    </button>
  </button>
  <button class="group bg-transparent w-[14rem] h-[3rem] rounded-[7px] text-white hover:bg-grey focus:outline-none flex flex-col justify-center mt-4 relative">
    <span class="text-sm font-bold ml-4">melody bgms</span>
    <span class="text-xs pt-1 ml-4">Fayiz mt</span>
    <button class="w-5 h-5 rounded-full bg-white flex items-center justify-center absolute right-3 top-1/2 transform -translate-y-1/2 hidden group-hover:flex">
      <i class="fa-solid fa-play fa-2xs" style="color: black;"></i>
    </button>
  </button>
  <button class="group bg-transparent w-[14rem] h-[3rem] rounded-[7px] text-white hover:bg-grey focus:outline-none flex flex-col justify-center mt-4 relative">
    <span class="text-sm font-bold ml-4">Episodes for later</span>
    <span class="text-xs pt-1 ml-4">Auto playlist</span>
    <button class="w-5 h-5 rounded-full bg-white flex items-center justify-center absolute right-3 top-1/2 transform -translate-y-1/2 hidden group-hover:flex">
      <i class="fa-solid fa-play fa-2xs" style="color: black;"></i>
    </button>
  </button>
</div>
  </div> -->