<div class="card group flex flex-col w-[15rem]">
  <div class="relative">
    <img class="h-[8rem] object-cover w-full"
       [src]="miniCard.image ? miniCard.image : 'default-image.jpg'"
       [alt]="miniCard.songName + ' - Card Image'">
  <div class="play-button absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  flex items-center justify-center text-white opacity-0 group-hover:opacity-100 transition duration-300">
    <i class="fas fa-play fa-lg"></i>
  </div>
  </div>
  
  <div class="flex flex-col justify-end px-0 py-4 mt-5 bg-transparent h-[3rem]">
    <p class="text-sm font-semibold text-white">{{ miniCard.songName }}</p>
    <div class="flex items-center">
      <p class="text-gray-400 mr-2 text-white">{{ miniCard.artist }}</p>
      <span class="h-1 w-1 bg-gray-400 rounded-full mr-1"></span>
      <p class="text-gray-400 text-xs">{{ miniCard.views }}</p>
    </div>
  </div>
</div>
